.container {
  margin-top: 100px;
  background: linear-gradient(180deg, var(--white) 0%, #eff3f6 49.89%, var(--white) 100%);
}

.headH2 {
  color: var(--black);
  font-size: var(--desktop_h2-font-size);
  font-weight: 600;
  text-align: center;
}

.innerdiv {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  gap: 34px 34px;
  margin-top: 30px;
  padding: 0px 30px;
  border-radius: 33px;
  margin-bottom: 3rem;
  /* background: #F8FCFF; */
}

.innerbox {
  padding: 30px 40px 0 40px;
}

.innerdiv div h4 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: var(--desktop_h4-font-size);
}

.innerdiv div p {
  color: var(--deepblack);
  font-size: var(--desktop_p-font-size);
  line-height: 24px;
  font-weight: 300;
  padding: 0 0 30px 0px;
}

.innerdiv div:nth-child(1),
.innerdiv div:nth-child(2),
.innerdiv div:nth-child(3),
.innerdiv div:nth-child(4) {
  border-radius: 28.284px;
  gap: 13px;
  display: flex;
  flex-flow: column;
}

.innerdiv div:nth-child(1),
.innerdiv div:nth-child(4) {
  background: var(--white);
}

.innerdiv div:nth-child(2),
.innerdiv div:nth-child(3) {
  background: var(--white);
}

.innerdiv div:nth-child(2) h4,
.innerdiv div:nth-child(3) h4 {
  color: var(--primary-color);
}

.innerdiv img {
  float: right;
  height: auto;
}

.img1 {

  /* margin-bottom: -2px; */
}

.img2 {
  margin-bottom: -13px;
}

.Wrapper {
  position: relative;
  margin-bottom: 24px;
  padding: 25px;
}

.imgWrapper {
  position: absolute;
  right: 5px;
  height: 70px;
  width: 80px;
  bottom: 0px;
}

@media only screen and (max-width: 1024px) {
  .innerdiv div h4 {
    font-size: 24px;
  }

  .innerdiv div p {
    font-size: 14px;
  }

  .headH4 {
    font-size: 35px;
  }

  .headH2 {
    font-size: 28px;
  }

  .innerdiv {
    grid-template-columns: 46.5% 46.5%;
  }
}

@media screen and (max-width:761px) {
  .innerbox {
    padding: 30px 30px 0 30px;
  }

  .headH2 {
    font-size: 24px;
  }

  .innerdiv div h4 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 641px) {
  .innerdiv div p {
    font-size: 12px;
    line-height: 21px;
  }

  .headH4 {
    font-size: 18px;
  }

}

@media only screen and (max-width: 481px) {
  .headH2 {
    font-size: 23px;
  }

  .innerdiv {
    grid-template-columns: 100%;
  }
}

/* #Achive */

.section {
  background: var(--senary-color);
  padding: 50px;
}

.section h2 {
  text-align: center;
  text-wrap: pretty;
  margin: auto;
  width: 600px;
  color: var(--deepblack);
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  line-height: 126.5%;
  /* 69.575px */
}


.Container {
  display: flex;
  width: 1200px;
  margin: 100px auto;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.ContentBox {
  border-radius: 30px;
  background: var(--deep-blueee);
  box-shadow: 0px -160px 45px 0px rgba(0, 0, 0, 0),
    0px -102px 41px 0px rgba(0, 0, 0, 0.01),
    0px -58px 35px 0px rgba(0, 0, 0, 0.02),
    0px -26px 26px 0px rgba(0, 0, 0, 0.03),
    0px -6px 14px 0px rgba(0, 0, 0, 0.03);
  padding: 20px 20px 40px 20px;
  width: 400px;


}

.box {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.RoundBox {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  left: 36%;
  top: 76%;
}

.ContentBox h5 {
  color: var(--white);
  text-align: center;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.5%;
  /* 44.275px */
}

.ContentBox p {
  color: var(--white);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
  /* 29.6px */
}

.RoundBox {

  border-radius: 50%;
  padding: 10px;
}