.container {
  background: linear-gradient(
    180deg,
    var(--white) 1.29%,
    var(--senary-color) 98.18%
  );
  color: var(--black);
  padding: 100px 0;
}

.innerDiv h2 {
  text-align: center;
  color: var(--deep-blue);
  font-size: var(--desktop_h2-font-size);
  font-weight: 600;
}

.innerDivH2Span {
  border-bottom: 4px solid var(--light-orange);
}

/* .hrline {
  width: 150px;
  align-items: center;
  position: relative;
  left: 35%;
  background: var(--light-orange);
  height: 2px;
  border: none;
} */

.pHead {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 150.5%;
  margin: 10px 0 30px;
}

.green {
  color: var(--green);
  font-weight: 600;
}

.pTop {
  color: var(--light-black);
  font-size: var(--desktop_p-font-size);
  font-weight: 300;
  line-height: 146.5%;
}

.innerBoxDiv {
  display: flex;
  gap: 130px;
  margin: 20px 0;
}

.innerBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imgWrapper {
  position: relative;
  width: 40px;
  height: 40px;
}

.innerBox h3 {
  color: var(--carbon-black);
  font-size: var(--desktop_h5-font-size);
  font-weight: 600;
}

.secondSection img {
  width: 100%;
  height: auto;
}

.orangeSpan {
  color: var(--light-orange);
  font-weight: 700;
}

.blueSpan {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.blueSpan:hover {
  color: var(--light-orange);
}

.firstSection {
  display: flex;
  flex-flow: column;
  gap: 10px;
  border-radius: 40px;
  padding: 30px 60px 30px 35px;
  background: var(--white);
}

.pBot {
  font-size: 14px;
  /* line-height: 22px;
  margin-right: 60px; */
}

.twoSection {
  display: grid;
  grid-template-columns: 60% 30%;
  /* gap: 10px; */
  align-items: center;
  justify-content: space-between;
  /* margin-top: 20px; */
}

.blackSpan {
  color: var(--light-black);
  font-size: var(--desktop_h1-font-size);
  font-weight: 600;
  line-height: 114%;
}

.H3 {
  color: var(--light-black);
  font-size: var(--desktop_h3-font-size);
  font-weight: 300;
  line-height: 114%;
}

.colors {
  background: linear-gradient(
    91deg,
    var(--primary-color) 19.08%,
    var(--light-orange) 93.87%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--desktop_h1-font-size);
  font-weight: 600;
  line-height: 114%;
}

@media only screen and (max-width: 1281px) {
  .hrline {
    left: 33%;
  }

  .twoSection {
    grid-template-columns: 64% 32%;
  }
}

@media only screen and (max-width: 1181px) {
  .firstSection {
    padding: 30px 30px 35px;
  }
}

@media only screen and (max-width: 1081px) {
  .hrline {
    left: 30%;
  }

  .twoSection {
    grid-template-columns: 60% 32%;
    gap: 30px;
  }

  .firstSection {
    padding: 30px 40px 30px 35px;
  }

  .H3 {
    font-size: 22px;
  }

  .blackSpan {
    font-size: 38px;
  }

  .colors {
    font-size: 40px;
  }

  .innerBox h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1024px) {
  .twoSection {
    grid-template-columns: 65% 32%;
    gap: 30px;
  }
}

@media only screen and (max-width: 968px) {
  .hrline {
    left: 25%;
  }

  .twoSection {
    grid-template-columns: 56% 38%;
  }

  .firstSection {
    padding: 30px 20px;
  }

  .H3 {
    font-size: 20px;
  }

  .innerBox h3 {
    font-size: 15px;
  }

  .blackSpan,
  .colors {
    font-size: 27px;
  }

  .innerBoxDiv {
    gap: 50px;
    /* margin: 25px 0; */
  }

  .pBot {
    margin: 0;
  }

  .pTop {
    font-size: 14px;
  }
}

@media only screen and (max-width: 841px) {
  .twoSection {
    grid-template-columns: 61% 38%;
    gap: 10px;
  }

  .container {
    padding: 60px 0;
  }

  .hrline {
    left: 25%;
  }

  .firstSection {
    padding: 20px 15px 20px 15px;
  }

  .colors,
  .blackSpan {
    font-size: 30px;
  }

  /* .pTop {
    margin-top: 10px;
  } */

  .innerBoxDiv {
    gap: 80px;
    margin: 15px 0;
  }
}

@media only screen and (max-width: 761px) {
  .innerDiv h2 {
    font-size: 32px;
  }

  .pHead {
    font-size: 16px;
  }

  .hrline {
    width: 130px;
    left: 28%;
  }

  .twoSection {
    grid-template-columns: 55% 40%;
  }

  .H3 {
    font-size: 18px;
  }

  .colors,
  .blackSpan {
    font-size: 26px;
  }

  .innerBoxDiv {
    gap: 65px;
  }

  .innerBox {
    gap: 10px;
  }

  .pBot {
    font-size: 13px;
    line-height: 19px;
  }
}

@media only screen and (max-width: 641px) {
  .container {
    /* padding: 40px 0; */
    background: linear-gradient(
      180deg,
      var(--white) 0.4%,
      var(--senary-color) 14%,
      var(--white) 44.68%,
      var(--senary-color) 66.17%
    );
  }

  .hrline {
    width: 128px;
    left: 18%;
  }

  .twoSection {
    grid-template-columns: 100%;
    margin-top: 30px;
  }

  .firstSection {
    border-radius: 17px;
    padding: 25px;
  }

  .innerBoxDiv {
    gap: 63px;
    margin: 20px 0;
  }

  .pTop {
    font-size: var(--desktop_p-font-size);
    line-height: 22px;
  }

  .pBot {
    font-size: 14px;
    line-height: 18px;
  }

  .secondSection {
    padding: 0 30px;
  }

  .blackSpan,
  .colors {
    font-size: 30px;
  }

  .H3 {
    font-size: 24px;
  }

  .pHead {
    margin-bottom: 0;
  }

  .innerDiv h2 {
    /* font-size: 32px; */
    font-style: normal;
    /* font-weight: 600; */
    line-height: 144.5%;
    /* 40.46px */
  }

  .innerBox h3 {
    font-size: 19px;
  }
}

@media only screen and (max-width: 481px) {
  .container {
    padding: 40px 0;
  }

  .innerDiv h2 {
    font-size: 25px;
    color: var(--light-deep-blue);
    font-weight: 400;
  }

  .innerDiv h2 span {
    color: var(--deep-blue);
    font-weight: 600;
  }

  .innerDiv h2,
  .pHead {
    text-align: left;
  }

  .innerDivH2Span {
    border: none;
  }

  /* .hrline {
    display: none;
  } */

  .pHead {
    font-size: 14px;
    margin: 0;
  }

  .pTop {
    font-size: 14px;
  }

  .H3 {
    font-size: 18px;
  }

  .firstSection {
    padding: 25px 14px;
  }

  .secondSection {
    padding: 0;
  }

  .innerBox h3 {
    font-size: 16px;
  }

  .innerBoxDiv {
    gap: 15px;
  }

  .innerBox {
    gap: 5px;
  }

  .blackSpan,
  .colors {
    font-size: 22px;
  }

  .imgWrapper {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 361px) {
  .H3 {
    font-size: 20px;
  }

  .blackSpan,
  .colors {
    font-size: 23px;
  }

  /* .innerDiv h2 {
    font-size: 27px;
  } */

  .twoSection {
    margin-top: 15px;
  }

  .firstSection {
    padding: 25px 10px;
  }

  .pTop {
    font-size: 12px;
  }

  .pBot {
    font-size: 12px;
  }

  .innerBoxDiv {
    gap: 21px;
    margin: 10px 0;
  }

  .innerBox h3 {
    font-size: 14px;
  }

  .secondSection {
    padding: 0 10px;
  }
}
