.container {
  color: var(--black);
  padding: 46px 0px;
  margin-top: 70px;
  background: radial-gradient(circle at 10% 10%,
      rgba(6, 59, 92, 0.9) 1%,
      transparent 30%),
    radial-gradient(circle at 90% 80%,
      rgba(254, 122, 54, 0.3) 1%,
      transparent 40%),
    var(--light-black);
}

.innerDiv {
  display: grid;
  grid-template-columns: 59% 30%;
  /* grid-gap: 50px; */
  gap: 120px;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
  margin: auto;
}

.firstSection {
  padding-top: 15px;
  display: flex;
  flex-flow: column;
  gap: 32px;
}

.firstSection h5 {
  color: var(--light-greyy);
  font-size: var(--desktop_h5-font-size);
  font-weight: 600;
}

.starDiv {
  display: flex;
  align-items: center;
  gap: 14px;
}

.spanDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.starDiv p {
  color: var(--lightt-grey);
  font-size: var(--desktop_p-font-size);
  font-weight: 300;
  line-height: 127.182%;
  /* 31.795px */
}

.Descrption p {
  color: var(--lightt-grey);
  font-size: var(--desktop_p-font-size);
  font-style: normal;
  font-weight: 300;
  line-height: 140.182%;
  /* 31.795px */
}

.starDiv img {
  width: 28px;
  height: 100%;
}

.starDivSection {
  display: grid;
  gap: 20px;
}

.firstSection h1 {
  font-size: var(--desktop_h1-font-size);
  color: var(--white);
  font-weight: 600;
  line-height: 54px;
}

.firstSectionAI h1 {
  text-wrap: balance;
}

.btnDiv {
  display: flex;
  gap: 30px;
}

.btn {
  display: flex;
}

.botDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  border-radius: 20px;
  background: var(--white);
  width: 100%;
  margin: 30px 0 0 0;
}

.innerBotDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.imgwrapper {
  position: absolute;
}

.wrrapper {
  position: relative;
  width: 75px;
  height: 60px;
}

.content {
  display: grid;
  gap: 4px;
}

.content p {
  margin: 0;
  color: var(--light-black);
  font-weight: 400;
}

.imgBot img {
  position: absolute;
}

.wrapper {
  position: relative;
  height: 61px;
  width: 270px;
}

.content h3 {
  color: var(--light-blackk);
  font-size: var(--desktop_h3-font-size);
  font-style: normal;
  font-weight: 600;
}

.formdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 0.6px solid var(--wwhite);
  border-radius: 24.338px;
  background: var(--senary-color);
  height: fit-content;
  padding: 30px 20px 20px 20px;
  margin-top: 40px;
}

.formdiv h3 {
  color: var(--light-black);
  text-align: center;
  font-size: var(--desktop_h3-font-size);
  font-style: normal;
  font-weight: 400;
}

.span {
  background: linear-gradient(90deg, var(--light-orange) 24.09%, var(--secondary-color) 88.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--light-orange);
}



.formdiv form input {
  border-radius: 8.75px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.1);
  color: var(--blue-grey);
  font-weight: 400;
  height: 42px;
}

.formdiv form input::placeholder {
  opacity: 1;
  color: var(--blue-grey);
  font-weight: 300;
}

.formdiv form label {
  display: none;
}

.formdiv form input[type="tel"] {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.1);
  color: var(--blue-grey);
  border-radius: 8.75px;
  border: 0.607px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  height: 38px;
  width: 100%;
}

.formdiv form select {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.1);
  color: var(--blue-grey);
  border-radius: 8.775px;
  padding: 10px;
  font-weight: 400;
  appearance: none;
  -webkit-appearance: none;
  height: 42px;
}

.formdiv form select option {
  background-color: var(--light-black);
  /* Set background color for dropdown options */
  color: var(--blue-grey);
  /* Set text color for dropdown options */
}

.formdiv form p {
  margin: 0px 30px;
}

.formdiv form button {
  border-radius: 10.492px;
  background: var(--light-bluee);
  margin-bottom: 10px;
  padding: 10px 20px;
}

.formdiv form>div {
  margin-bottom: 10px;
  width: 90%;
}

.btnDivM {
  display: none;
}

@media only screen and (max-width: 1302px) {

  .innerDivAI {
    padding: 0;
  }

  .btnDivM {
    display: none;
  }

  .firstSection h5 {
    font-size: var(--desktop_h5-font-size);
  }
}

@media only screen and (max-width: 1281px) {
  .botDiv {
    padding: 20px 0px;
  }
}

@media only screen and (max-width: 1181px) {
  .btnDivM {
    display: none;
  }

  .innerDiv {
    gap: 85px;
  }
}

@media only screen and (max-width: 1081px) {
  .innerDiv{
    grid-template-columns: 59% 35%;
  }
}
@media only screen and (max-width: 1024px) {

  .content h3 {
    font-size: 28px;
  }

  .innerDiv {
    gap: 52px;
  }
}

@media only screen and (max-width: 968px) {

  /* .innerDiv {
    gap: 90px;
  } */

  .content h3 {
    font-size: 26px;
  }

  .firstSection h1 {
    font-size: 36px;
    line-height: 47px;
  }
}

@media only screen and (max-width: 841px) {
  .wrrapper {
    width: 71px;
    height: 56px;
  }

  .content {
    gap: 1px;
  }

  .firstSection {
    padding: 15px 0 0 5px;
    gap: 26px;
  }

  .firstSection h5 {
    font-size: var(--desktop_h5-font-size);
  }

  .innerDiv {
    margin: 20px 0px;
  }

  .btnDivM {
    display: none;
  }

  .container {
    margin-top: 0;
  }

  .wrapper {
    height: 53px;
    width: 245px;
  }

  .innerBotDiv {
    gap: 2px;
  }
}

@media only screen and (max-width: 761px) {
  .firstSection h1 {
    font-size: 27px;
    line-height: 37px;
  }

  .content p {
    font-size: 14px;
  }

  .botDiv {
    padding: 20px 0px;
    gap: 10px;
  }

  .content h3 {
    font-size: 21px;
  }

  .btnDiv {
    gap: 45px;
  }
}

@media only screen and (max-width: 641px) {
  .innerDiv {
    grid-template-columns: 100%;
    /* margin: 20px 35px; */
    grid-gap: 70px;
  }

  .firstSection h5 {
    font-size: 15px;
  }

  .innerBotDiv img {
    width: 60px;
    height: auto;
  }

  .botDiv {
    align-items: flex-start;
    /* width: 85%; */
    gap: 16px;
    padding: 20px 0px;
    background: var(--senary-color);
  }

  .content p {
    font-size: 13px;
  }

  .content h3 {
    font-size: 19px;
  }
}

@media only screen and (max-width: 481px) {

  .botDiv {
    padding: 20px 7px;
    flex-flow: column;
  }
}

@media only screen and (max-width: 361px) {
  .item1 {
    text-wrap: balance;
  }

  .content p {
    font-size: 7px;
  }

  .content h3 {
    font-size: 11px;
  }

  .wrrapper {
    width: 42px;
    height: 36px;
  }

  .botDiv {
    padding: 20px 11px;
  }

  .btnDiv {
    gap: 35px;
  }
}