.section {
  display: grid;
  grid-template-columns: 66% 32%;
  border-radius: 30px;
  margin: 50px 130px;
  padding: 50px 50px 0px 50px;
  align-items: center;
  border-radius: 50px;
  background: var(--cyan);
  max-width: 1200px;
  margin: auto;
}

.FirstDiv {
  display: flex;
  flex-flow: column;
  gap: 35px;
}

.FirstDiv h4 {
  color: var(--black);
  font-size: 40px;
  font-weight: 600;
}

.FirstDiv span {

  background-clip: text;
  color: var(--black);
}

.btnWrapper button {
  border-radius: 10px;
  background: var(--primary-color);
  border: none;
}

.MobileReviewImageContainer {
  margin-bottom: -5px;
  position: relative;
}

.MobileReviewImageContainer img {
  width: 100%;
}


.leftSlide {
  display: flex;
  gap: 20px;
  align-items: center;
}

.sliderUser {
  display: flex;
  gap: 20px;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 84%;
}

.FirstDiv {
  padding-right: 30px;
}

.icons {
  padding: 5px;
  background: var(--brown);
  color: var(--grey);
  font-size: 50px;
  border-radius: 50px;
}

.active {
  opacity: 1;
}

.faded {
  opacity: 0.3;
}

.ShowInMobile {
  display: none;
}

@media (max-width: 1281px) {

  .section {
    max-width: 1120px;
  }
}

@media (max-width: 1181px) {

  .MobileReviewImageContainer img {
    height: auto;
  }

  .FirstDiv h4 {
    font-size: 32px;
  }

}

@media (max-width: 1080px) {
  .section {
    max-width: 960px;
    grid-template-columns: 64% 35%;
    padding: 50px 30px 0 30px;
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 50px 30px 0px 30px;
    max-width: 904px;
  }

  .FirstDiv h4 {
    font-size: 30px;
  }

  .btnWrapper {
    margin-top: 20px;
  }


}

@media (max-width: 968px) {

  .section {
    max-width: 888px;
  }

  .MobileReviewImageContainer img {
    width: 250px;
  }

  .FirstDiv h4 {
    font-size: 28px;
  }
}


@media (max-width: 841px) {
  .section {
    max-width: 761px;
  }

  .imgBorder {
    width: 60px;
    height: 60px;
  }

  .FirstDiv h4 {
    font-size: 27px;
  }
}

@media (max-width: 761px) {

  .section {
    max-width: 680px;
  }

  .FirstDiv h4 {
    font-size: 23px;
  }

  .MobileReviewImageContainer img{
    width: 240px;
  }
}

@media (max-width: 641px) {
  .section {
    margin: 0px;
    display: block;
    border-radius: 0px;
    width: 100%;
  }

  .FirstDiv span {
    font-size: 28px;
    font-weight: 700;
  }

  .FirstDiv span::after {
    content: '\A';
    white-space: pre;
  }

  .FirstDiv h4 {
    font-size: 25px;
    font-weight: 400;
  }

  .FirstDiv {
    padding: 0;
    margin-bottom: 20px;
    align-items: center;
  }

  .leftSlide {
    width: 70%;
  }

  .icons {
    font-size: 30px;
  }

  .imgBorder {
    width: 50px;
    height: 50px;
  }

  .sliderUser {
    gap: 10px;
  }

  .btnWrapper {
    display: flex;
    justify-content: center;
  }

  .HideInMobile {
    display: none;
  }

  .ShowInMobile {
    display: block;
  }

  .MobileReviewImageContainer {
    display: flex;
    justify-content: center;
  }

  .MobileReviewImageContainer img {
    width: 366px;
  }
}

@media(max-width:481px) {
  .leftSlide {
    width: 90%;
  }

  .FirstDiv h4{
    font-size: 20px;
  }

  .leftSlide svg{
    width: 40px;
    height: 40px;
  }
}
@media(max-width:441px) {
  .FirstDiv h4 {
    font-size: 20px;
    font-weight: 400;
  }

  .FirstDiv span {
    font-size: 20px;
  }
}

@media(max-width:361px) {
  .FirstDiv h4 {
    font-size: 18px;
    font-weight: 400;
  }

  .MobileReviewImageContainer img{
    width: 85%;
  }
}